@model IEnumerable<AppBoard.Entity.ToDo>
<div class="row">
    @*<img class="hidden-xs" src="~/Images/todo.png" height="40" />*@
    <h1 class="display-1">My TODO List</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Status.ToString())*@
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.UpdatedDateTime)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Status.ToString())*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.UpdatedDateTime)*@
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = @item.ToDoId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = @item.ToDoId },
                        new { onclick = "return confirm('Are you sure you wish to delete this TODO?');" })
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        @Html.ActionLink("Add New", "Add")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>