@model AppBoard.Entity.User
@{
    string errorMessageClass = Model == null? "invisible" : Model != null && Model.UserId == -1 ? "visible" : "invisible";
}
<div class="row">
    @*<img class="hidden-xs" src="~/Images/todo.png" height="40" />*@
    <h1 class="display-1">Login to AppBoard</h1>
</div>
<div class="row">
    <form action="Login" method="post">
        <div class="form-group alert alert-danger @errorMessageClass">
            Invalid User
        </div>
        <div class="form-group">
            <label for="User Name" style="width:80px">Title</label>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            <label for="Description" style="width:80px">Password</label>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>


